<section id="home" class="intro-section" style="height: 100vh;">
    <div class="container h-100">
        <div class="row align-items-center text-white">
            <div class="col-md-6 intros">
                <div class="row">
                    
                    <img src="assets/img/portfolio_cover.jpg" class="w-75">
                </div>
                <div style="display: flex;align-items: center;justify-content: space-evenly;flex-direction: row;width: 75%;">
                    <span class="socialicons">
                        <i class="uil uil-linkedin"></i>
                    </span>
                    <span class="socialicons">
                        <i class="uil uil-github"></i>
                    </span>
                    <span class="socialicons">
                        <i class="uil uil-facebook-f"></i>
                    </span>
                   
                    
                   
                </div>
                
        </div>
            <div class="col-md-6 intros text-start">
                <h1 class="display-2">
                    <span class="display-2--intro" ngPreserveWhitespaces>
                        Hey!, I'm Uday
                    </span>
                    <span class="display-2--description lh-base" id="desc">
                        <!-- {{typewriter_text}} -->
                    </span>
                </h1>
               
               
            </div>
        </div>
    </div>
</section>